<div class="containerContact">

  <div class="containerContact__containerMedia">

    <img src="../../../../../assets/facebook.svg" alt="Facebook" class="containerContact__containerMedia">
    <img src="../../../../../assets/linkedin.svg" alt="Linkedin" class="containerContact__containerMedia">
    <img src="../../../../../assets/instagram.svg" alt="Instagram" class="containerContact__containerMedia">
    <img src="../../../../../assets/twitter.svg" alt="Twitter" class="containerContact__containerMedia">

  </div>
</div>
