<div class="containerContact">

  <div class="containerContact__containerMedia">

    <app-lazy-image src="../../../../../assets/facebook.svg" [height]="height" [width]="width"
      class="containerContact__containerMedia">
    </app-lazy-image>
    <app-lazy-image src="./../../../../assets/linkedin.svg" [height]="height" [width]="width"
      class="containerContact__containerMedia">
    </app-lazy-image>
    <app-lazy-image src="../../../../../assets/instagram.svg" [height]="height" [width]="width"
      class="containerContact__containerMedia"></app-lazy-image>
    <app-lazy-image src="../../../../../assets/twitter.svg" [height]="height" [width]="width"
      class="containerContact__containerMedia">
    </app-lazy-image>

  </div>
</div>