@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

:host {
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  align-items     : center;
  font-family     : 'Source Sans Pro', sans-serif;
  background-color: var(--bg);
  box-shadow      : var(--box-shadow);
  z-index         : 2;
  overflow        : hidden;
}

.containerAboutProfile {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  height        : 29%;
  position      : relative;
  top           : 3.2rem;


  &__profile {
    width           : 103px;
    height          : 103px;
    transform       : scale(1.1);
    border-radius   : 1rem;
    background-color: #DEE4F1;
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    justify-content : flex-end;
    align-items     : flex-end;
  }

  &__infoContainer {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    height         : 50%;
    color          : var(--color-text);

    &__name {
      font-size: 20px;
    }

    &__desc {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      font-size      : 16px;
      color          : rgb(145, 145, 145);
      position       : relative;
      top            : -.5rem;
      width          : 80px;
      left           : .84rem;

      &__text {
        font-size: 14px;
        color    : rgb(145, 145, 145);
      }

      &__dot {
        height          : 5px;
        width           : 5px;
        border-radius   : 10rem;
        background-color: rgba(133, 133, 133, 0.473);
      }

      &__icon {
        position: relative;
        height  : 35px;
        right   : .84rem;
        top     : -.2rem;
      }
    }

  }
}

.circleStatus {
  position     : relative;
  left         : 1rem;
  top          : -.7rem;
  border       : .3rem solid var(--bg);
  border-radius: 50%;
  height       : 1.7rem;
  width        : 1.7rem;

  &__statusActive {
    height          : 100%;
    width           : 100%;
    clip-path       : circle(50% at 50% 50%);
    background-color: rgb(51, 255, 119);
  }
}

.invert {
  filter: invert(1) !important;
}
