<div class="containerSharedFiles">
  <div class="containerSharedFiles__title">SHARED IMAGES</div>
  <div *ngIf="images?.length > 0" class="containerSharedFiles__filesContainer" @list>
    <div @items *ngFor="let im of images | slice:0:6;">
      <img class="containerSharedFiles__filesContainer__files" [src]="im?.src" />
    </div>
    <div (click)="viewAllImages()" class="containerSharedFiles__filesContainer__files last">
      <div class="last__text">View Shared Files</div>
    </div>
  </div>
</div>
