<div class="containerSharedFiles">
  <div class="containerSharedFiles__title">ARQUIVOS COMPARTILHADOS</div>
  <div *ngIf="images?.length > 0" class="containerSharedFiles__filesContainer" @list>

    <app-lazy-image class="containerSharedFiles__filesContainer__files" @items *ngFor="let imgPath of images"
      [src]="imgPath" [height]="height" [width]="width" [margin]="margin" [borderRadius]="borderRadius"
      [clipPath]="clipPath">
    </app-lazy-image>

    <div (click)="viewAllImages()" class="containerSharedFiles__filesContainer__files last">
      <div class="last__text">Ver arquivos</div>
    </div>
  </div>
</div>