.main {
  display: flex;
  height : 100%;
  width  : 100%;

  &__appChat {
    flex   : 1;
    height : 100%;
    z-index: 1;
  }
}

#close {
  width          : 0px;
  height         : 100%;
  display        : flex;
  justify-content: center;
}