<ng-container *ngIf="loaded">
    <img [src]="image?.src" [ngStyle]="{
        'margin': margin + 'rem', 
        'height': height + 'px', 
        'width': width + 'px', 
        'border-radius': borderRadius + 'rem', 
        'clip-path':clipPath,
        'filter': 'invert(' + filter + ')'
    }" alt="Images">
</ng-container>

<ng-container *ngIf="!loaded">
    <span class="skeleton-box" [ngStyle]="
    {
        'margin': margin + 'rem', 
        'height': height + 'px', 
        'width': width + 'px', 
        'border-radius': borderRadius + 'rem', 
        'clip-path':clipPath
    }"></span>
</ng-container>